@import '../../css/Theme.scss';

.header {
	font-family: 'Gotham Book';
	margin-bottom: 10px;

	&.container {
		padding: 0;
	}

	&__logo-area {
		align-items: center;
		border-bottom: 1px solid $grey-four;
		display: flex;
		height: 85px;
		padding-left: 20px;
		justify-content: space-between;

		@include breakpoint(tabletL) {
			justify-content: center;
		}
	}

	&__nav {
		background-color: $white;
		bottom: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		left: 0;
		position: absolute;
		right: 0;
		top: 85px;
		transform: translateX(-100%);
		transition: transform 0.25s ease-in-out;
		z-index: 1;

		@include breakpoint(tabletL) {
			transform: translateX(0);
		}

		&.active {
			transform: translateX(0);
		}

		@include breakpoint(tabletL) {
			align-items: center;
			border-bottom: 1px solid $grey-four;
			bottom: initial;
			display: grid;
			grid-template-columns: 280px 1fr 280px;
			height: 50px;
			left: initial;
			position: relative;
			right: initial;
			top: initial;
		}

		&__login-area,
		&__menu-area,
		&__product-area {
			list-style: none;
			margin: 0;
			padding: 0;

			&__item {
				font-size: 14px;

				@include breakpoint(tabletL) {
					display: inline-block;
				}
			}
		}

		&__login-area {
			&__item {
				display: inline-block;

				&:first-of-type {
					border-right: 1px solid $grey-four;
					margin-right: 15px;
					padding-right: 15px;
				}

				&__link {
					color: $grey-seven;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&__menu-area {
			margin-bottom: 40px;
			text-align: center;

			@include breakpoint(tabletL) {
				margin-bottom: 0;
			}

			&__item__link {
				align-items: center;
				color: $grey-seven;
				display: flex;
				height: 50px;
				padding: 0 25px;
				text-decoration: none;
				text-transform: uppercase;
				transition: background-color 0.15s ease-in-out,
					color 0.15s ease-in-out, transform 0.15s ease-in-out;

				&:hover {
					background-color: $salmon;
					color: $white;
					transform: scale(1.2);
				}
			}
		}

		&__product-area {
			display: flex;
			justify-content: space-between;
			margin: 20px 0 40px;

			@include breakpoint(tabletL) {
				display: block;
				margin: 0;
			}

			&__item {
				&__search-input {
					margin-right: 20px;
					max-width: 200px;

					.text-field__input {
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
