@import '../../css/Theme.scss';

.modal {
	background-color: $white;
	border-radius: 3px;
	box-sizing: border-box;
	height: auto;
	left: 50%;
	padding: 60px 20px 0;
	position: fixed;
	top: 50%;
	width: 80%;
	transform: translate(-50%, 50%);
	transition: transform 0.25s ease-in-out;
	z-index: 2;

	&.active {
		transform: translate(-50%, -50%);
	}

	@include breakpoint(tabletL) {
		max-height: 600px;
		max-width: 445px;
	}

	&--shadow {
		background-color: rgba(32, 32, 32, 0.6);
		height: 100%;
		left: 0;
		opacity: 0;
		position: fixed;
		top: 0;
		transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
		visibility: hidden;
		width: 100%;
		z-index: 1;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__button {
		&--close {
			background-color: transparent;
			border: none;
			font-size: 24px;
			position: absolute;
			right: 10px;
			top: 10px;

			&:hover {
				cursor: pointer;
			}
		}

		&--keep-buying {
			margin: 10px 0;
		}
	}

	&__img {
		display: block;
		margin: 0 auto;
		max-width: 260px;
	}

	&__msg {
		color: $salmon;
		font-family: 'Gotham Bold';
		font-size: 22px;
		margin: 10px 0;
		text-transform: uppercase;
	}
}
