// color variables

$black: #202020;
$blue-dark: #2a5a75;
$blue-light: #a5c3c0;
$blue-medium: #5f75aa;
$ice: #aeb6c1;
$green-light: #e0da9c;
$green-medium: #32917b;
$grey-one: #f2f2f2;
$grey-two: #ebebeb;
$grey-three: #e3e3e3;
$grey-four: #cccccc;
$grey-five: #adadad;
$grey-six: #7f7f7f;
$grey-seven: #686868;
$red: #e35442;
$salmon: #de8f75;
$white: #fff;
